<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">lib/tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">lib/Wave/</directory>
            <exclude>
                <directory prefix="Abstract">.</directory>
                <directory prefix="">lib/Wave/Application/State</directory>
                <directory suffix="Observer.php">lib/Wave/Application/Observers</directory>
                <directory suffix="Stream.php">lib/Wave/View</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="build/reports/report.tap"/>
        <log type="junit" target="build/reports/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage/html" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-clover" target="build/coverage/clover.xml"/>
    </logging>
    <php>
        <var name="PDO_DRIVER"   value="sqlite" />
		<var name="PDO_HOSTNAME" value="localhost" />
        <var name="PDO_DATABASE" value=":memory:" />
        <var name="PDO_USERNAME" value="root" />
        <var name="PDO_PASSWORD" value="root" />
        <var name="PDO_PORT"     value="3306" />
    </php>
</phpunit>
