<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd" colors="true" processIsolation="true" backupGlobals="false" strict="true" bootstrap="vendor/autoload.php" stopOnFailure="true">
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Wave/</directory>
            <exclude>
                <directory suffix="Interface">.</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="build/reports/report.tap"/>
        <log type="junit" target="build/reports/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage/html" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-clover" target="build/coverage/clover.xml"/>
    </logging>
    <php>
        <var name="PDO_DRIVER"   value="sqlite" />
		<var name="PDO_HOSTNAME" value="localhost" />
        <var name="PDO_DATABASE" value=":memory:" />
        <var name="PDO_USERNAME" value="root" />
        <var name="PDO_PASSWORD" value="root" />
        <var name="PDO_PORT"     value="3306" />
    </php>
</phpunit>
