<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">lib/tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">lib/Wave/</directory>
            <exclude>
                <directory prefix="Abstract">.</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <php>
        <var name="PDO_DRIVER"   value="sqlite" />
		<var name="PDO_HOSTNAME" value="localhost" />
        <var name="PDO_DATABASE" value=":memory:" />
        <var name="PDO_USERNAME" value="root" />
        <var name="PDO_PASSWORD" value="root" />
        <var name="PDO_PORT"     value="3306" />
    </php>
</phpunit>
